body {
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.intro-container, .quiz-container, .endgame {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

}

button {
    width: 15%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4d194d;
    color: whitesmoke;
}

.header {
    padding-top: 10px;
}

#timer {
    float: right;
    font-size: 24px;
    margin-right: 150px;
    
}

#view_score {
    text-align: left;
    display: inline;
    font-size: 20px;
    margin-left: 150px;
}


.quiz-container button {
    display: flex;
    justify-content: center;

}


#end-btn {
    width: 12%;
    padding: 10px;
    font-size: 26px;
    border-radius: 10px;
    background-color: #4d194d;
    color: whitesmoke;
}

#savescore {
    width: 9%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4d194d;
    color: whitesmoke;
}

.score_box {
    padding: 25px;
    top: 30%;
    width: 100%;
    text-align: center;
}